n8n genten/Consultar Cita Cliente Genten.json
{
  "id": "sp05sloD3bOve14R",
  "name": "Consultar Cita Cliente Genten",
  "active": true,
  "versionId": "ef03fce6-587c-4137-8bde-996cf24998ba",
  "activeVersionId": "ef03fce6-587c-4137-8bde-996cf24998ba",
  "createdAt": "2026-06-17T01:12:57.143Z",
  "updatedAt": "2026-06-17T03:52:57.096Z",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Ln2qjCBZFr4FwM1S",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [],
  "meta": { "templateCredsSetupCompleted": true },
  "nodes": [
    {
      "parameters": { "workflowInputs": { "values": [{ "name": "telefono" }] } },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-656, 112],
      "id": "7d968b86-6967-4e34-b30d-e02f8d617337",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": { "__rl": true, "value": "37180ded-c6cf-800c-ada3-e405288bb35f", "mode": "list", "cachedResultName": "Clientes Genten" },
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [-432, 112],
      "id": "21b0ace0-928f-437d-b94a-0f9e5e18a2f9",
      "name": "Busca cliente por telefono",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "jsCode": "\nconst tel = String($('When Executed by Another Workflow').item.json.telefono || '').replace(/[^0-9]/g, '');\nconst clientes = $input.all();\nlet cliente_id = '';\nfor (const c of clientes) {\n  const p = c.json.properties || {};\n  const stored = String(p['Telefono']?.phone_number || '').replace(/[^0-9]/g, '');\n  if (stored && tel && (stored === tel || stored.endsWith(tel) || tel.endsWith(stored))) {\n    cliente_id = c.json.id;\n    break;\n  }\n}\nreturn [{ json: { encontrado: !!cliente_id, cliente_id } }];\n"
      },
      "id": "ccc7b0e4-2ac3-4997-9e0b-3e55babbae00",
      "name": "Match cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-304, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "leftValue": "={{ $json.encontrado }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-208, 112],
      "id": "cf08368f-dd83-4d9f-aa33-bcd2f7e7a0f4",
      "name": "¿Cliente existe?"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": { "__rl": true, "value": "37180ded-c6cf-80f7-a162-daeeb6b2d22b", "mode": "list", "cachedResultName": "Agenda Genten" },
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [0, 0],
      "id": "82dbfa54-0e25-4c7a-a9b0-22945b813498",
      "name": "Busca cita proxima en agenda",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "jsCode": "\nconst clienteId = $('Match cliente').item.json.cliente_id;\nconst hoy = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Santiago' });\n\nconst INACTIVOS = ['Completado', 'Cancelado'];\n\nconst futuras = $input.all().filter(i => {\n  const p = i.json && i.json.properties;\n  if (!i.json || !i.json.id || !p) return false;\n  const rel = (p['👤 Clientes Genten']?.relation || []).map(r => r.id);\n  if (!rel.includes(clienteId)) return false;\n  const f = p['Fecha']?.date?.start ? String(p['Fecha'].date.start).slice(0, 10) : '';\n  const estado = p['Estado']?.select?.name || '';\n  return f && f >= hoy && !INACTIVOS.includes(estado);\n}).sort((a, b) => {\n  const fa = String(a.json.properties['Fecha'].date.start).slice(0, 10);\n  const fb = String(b.json.properties['Fecha'].date.start).slice(0, 10);\n  return fa < fb ? -1 : fa > fb ? 1 : 0;\n});\n\nif (futuras.length === 0) {\n  return [{ json: { resultado: 'sin_cita', mensaje: 'No encontré ninguna cita activa agendada a tu nombre.' } }];\n}\n\nconst p = futuras[0].json.properties;\nconst servicio = p['Servicio']?.select?.name || 'N/A';\nconst vehiculo = p['Vehiculo']?.select?.name || 'N/A';\nconst fecha    = p['Fecha']?.date?.start || 'N/A';\nconst hora     = p['Hora recepcion ']?.rich_text?.[0]?.plain_text || p['Hora recepcion']?.rich_text?.[0]?.plain_text || 'N/A';\nconst estado   = p['Estado']?.select?.name || 'N/A';\nconst nombre   = p['Titulo']?.title?.[0]?.plain_text || 'N/A';\n\nreturn [{ json: {\n  resultado: 'encontrada',\n  nombre, servicio, vehiculo, fecha, hora, estado,\n  total_proximas: futuras.length,\n  mensaje: `Tu próxima cita: ${servicio} para ${vehiculo} el ${fecha} a las ${hora}. Estado: ${estado}.`\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0],
      "id": "5e2891ba-f191-478b-9b02-83ac8ae6c8f7",
      "name": "Formatea resultado"
    },
    {
      "parameters": { "jsCode": "return [{ json: { resultado: 'cliente_no_encontrado', mensaje: 'No encontré un cliente registrado con ese número de teléfono.' } }];" },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 224],
      "id": "709d48a6-5231-4af8-bf62-8fecb87fac19",
      "name": "Cliente no encontrado"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Busca cliente por telefono", "type": "main", "index": 0 }]] },
    "Busca cliente por telefono": { "main": [[{ "node": "Match cliente", "type": "main", "index": 0 }]] },
    "Match cliente": { "main": [[{ "node": "¿Cliente existe?", "type": "main", "index": 0 }]] },
    "¿Cliente existe?": { "main": [[{ "node": "Busca cita proxima en agenda", "type": "main", "index": 0 }], [{ "node": "Cliente no encontrado", "type": "main", "index": 0 }]] },
    "Busca cita proxima en agenda": { "main": [[{ "node": "Formatea resultado", "type": "main", "index": 0 }]] }
  }
}
