n8n genten/Genten Agent.json
{
  "id": "cKHY2hxrU85iwpnO",
  "name": "Genten Agent",
  "active": true,
  "versionId": "2fa61575-0604-41a7-a1ba-465bca11d436",
  "activeVersionId": "2fa61575-0604-41a7-a1ba-465bca11d436",
  "createdAt": "2026-06-17T01:14:51.322Z",
  "updatedAt": "2026-06-19T14:25:04.665Z",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Ln2qjCBZFr4FwM1S",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true,
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "nodes": [
    {
      "parameters": { "updates": ["messages"], "options": {} },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [-368, 528],
      "id": "d1ff99f9-d6f9-4958-806c-1ab7f15d1953",
      "name": "WhatsApp Trigger",
      "webhookId": "ee8961aa-4a4c-4e53-81eb-fbe08796cd6d"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890", "leftValue": "={{ $json.messages[0].type }}", "rightValue": "text", "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901", "leftValue": "={{ $json.messages[0].type }}", "rightValue": "audio", "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "id": "b4563103-8908-4c2f-a30b-f8ce5b13440c",
      "name": "Tipo de Mensaje",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [64, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [{ "id": "f9d54169-5f91-47d2-aac6-1f2663f07210", "leftValue": "={{ $json.messages[0].type }}", "rightValue": "text", "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [432, 400],
      "id": "de4e0adb-9f20-4d4d-a139-55f8c1b1c83e",
      "name": "Filter"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"
      },
      "id": "b70622b8-31fa-4475-bdbf-e5f9853d92f0",
      "name": "Obtener URL Audio",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [64, 112],
      "webhookId": "b3b147ab-150e-4274-a7f9-b8192dcf11a1",
      "retryOnFail": true,
      "waitBetweenTries": 1500,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "redirect": { "redirect": {} },
          "response": { "response": { "responseFormat": "file" } },
          "timeout": 30000
        }
      },
      "id": "37bc3f92-4ed6-4e01-9600-d760aec7a0d5",
      "name": "Descargar Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [272, 112],
      "retryOnFail": true,
      "waitBetweenTries": 1500,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "resource": "audio", "operation": "transcribe", "options": { "language": "es" } },
      "id": "14f8671a-ce74-48a4-83cb-2cdb8ec7c9c1",
      "name": "Transcribir Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [464, 112],
      "retryOnFail": true,
      "waitBetweenTries": 1500,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [{ "id": "c3d4e5f6-a7b8-9012-cdef-123456789012", "leftValue": "={{ $json.text }}", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "69d18684-0ae3-4b30-8305-1b3ad95dfb42",
      "name": "Audio OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [672, 112]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1153146501223052",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "Lo siento, no pude procesar tu audio 😔 Por favor intenta enviando un mensaje de texto.",
        "additionalFields": {}
      },
      "id": "63967047-a312-4e9c-b97a-e93c884030bb",
      "name": "Audio Error",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [880, 32],
      "webhookId": "122e62e0-4b0e-46ac-a2b6-6c59e365058e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "msg-norm-1", "name": "messages", "value": "={{ [{ type: 'text', from: $('WhatsApp Trigger').item.json.messages[0].from, text: { body: $json.text } }] }}", "type": "array" }]
        },
        "options": {}
      },
      "id": "c76bf79c-58c0-4d0d-a506-197e30704793",
      "name": "Normalizar Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 160]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=# IDENTIDAD\nEres el asistente virtual de Genten Status, taller de lavado de vehículos en Arica. Tu rol es atender clientes por WhatsApp con un tono amable y directo. Objetivo: que el cliente concrete una reserva. Máximo 1 emoji por mensaje.\n\n# CONTEXTO DE SESIÓN\n- Fecha de hoy: {{ new Date().toLocaleDateString('en-CA', {timeZone:'America/Santiago'}) }}\n- Teléfono del cliente: +{{ $('WhatsApp Trigger').item.json.messages[0].from }}\n\n# REGLAS INVIOLABLES\n1. Solo temas de Genten: servicios, precios, disponibilidad, agendamiento, cancelación, reagendamiento, consulta de cita.\n   - Otro tema → \"Eso no lo manejo, pero si necesitas un lavado para tu vehículo, te ayudo 😊\"\n2. NUNCA asumas servicios, precios, disponibilidad ni citas. Usa la herramienta correcta SIEMPRE.\n3. NUNCA registres una reserva sin resumen explícito + \"Sí\" del cliente.\n4. Para cualquier pregunta sobre cita agendada → usa consultar_cita_cliente PRIMERO.\n5. Capacidad: máximo 2 vehículos por día (cualquier tipo). Recepción: 09:00–15:00.\n\n# FLUJOS (sigue el que corresponda)\n\n**CONSULTA DE PRECIO** (cliente pregunta: ¿cuánto cuesta?, ¿qué precios tienen?, tarifa, costo, etc.)\n→ Pregunta qué tipo de vehículo tiene (Auto/Camioneta/SUV/Moto)\n→ Llama consultar_servicios\n→ Muestra servicios + precios\n→ Si cliente dice \"quiero agendar\" → sigue AGENDAMIENTO\n→ Si solo consultaba → \"¡Quedamos a la espera! Cualquier duda, avísame 😊\"\n\n**AGENDAMIENTO** (cliente quiere agendar)\n→ Vehículo (Auto/Camioneta/SUV/Moto)\n→ Servicio: llama consultar_servicios, muestra menú\n→ Fecha: confirma fecha exacta (ej: \"¿viernes 6 de junio?\")\n→ Llama consultar_disponibilidad_notion\n   • Hay cupo → Hora (09:00–15:00)\n   • No hay → \"Sin cupo. ¿Otro día?\"\n→ Nombre\n→ Resumen (nombre, vehículo, servicio, precio, fecha, hora, teléfono)\n→ Solo si dice \"sí\": llama registrar_cita_confirmada\n\n**CONSULTA DE CITA** (cliente pregunta: ¿cuándo?, ¿qué tengo?, etc.)\n→ Llama consultar_cita_cliente\n→ Si existe: muestra servicio, vehículo, fecha, hora\n→ Si no existe: \"No encontré cita. ¿Quieres agendar?\"\n\n**CANCELACIÓN** (cliente quiere cancelar)\n→ Llama buscar_reserva_cancelable\n→ Muestra: servicio, vehículo, fecha, hora\n→ Pregunta: \"¿Esta? Responde Sí para confirmar\"\n→ Si dice \"sí\": llama cancelar_reserva_confirmada\n\n**REAGENDAMIENTO** (cliente quiere mover su cita)\n→ Llama buscar_reserva_cancelable\n→ Muestra: servicio, vehículo, fecha actual, hora\n→ Pregunta nueva fecha/hora\n→ Confirma fecha exacta\n→ Llama consultar_disponibilidad_notion (si cambia de día)\n→ Muestra resumen (de/hacia) + \"Sí para confirmar\"\n→ Si dice \"sí\": llama reagendar_cita_confirmada\n\n**UBICACIÓN** (cliente pide mapa/dirección)\n→ Llama enviar_ubicacion\n\n# HERRAMIENTAS\n- consultar_servicios(vehículo) → servicios + precios\n- consultar_disponibilidad_notion(fecha) → ¿hay cupo?\n- registrar_cita_confirmada(nombre, vehículo, servicio, fecha, hora)\n- consultar_cita_cliente(teléfono) → próxima cita\n- buscar_reserva_cancelable(teléfono) → reserva activa\n- cancelar_reserva_confirmada(page_id, datos)\n- reagendar_cita_confirmada(page_id, fecha, hora)\n- enviar_ubicacion(teléfono)\n\n# TALLER\nDirección: Oscar Quina 1477, Arica\nMapa: https://maps.app.goo.gl/uPqy4uagVkEu27jL7"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [656, 416],
      "id": "c1fea0f1-99eb-4157-ae13-cfa1dd4f5fad",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": { "__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "gpt-4o-mini" },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [320, 560],
      "id": "cd943b56-e268-4f26-88a4-a935b853da21",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": { "sessionIdType": "customKey", "sessionKey": "={{ 'whatsapp-v2-' + $('WhatsApp Trigger').item.json.messages[0].from }}" },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.4,
      "position": [240, 768],
      "id": "6ef76de4-d826-472f-8445-65f39fa1b825",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "description": "Úsala OBLIGATORIAMENTE antes de ofrecer o confirmar cualquier fecha. Pasa la fecha en formato YYYY-MM-DD. Devuelve disponibilidad_vehiculos (true/false), disponibilidad_motos (true/false), mensaje_vehiculos y mensaje_motos.",
        "workflowId": { "__rl": true, "value": "5lbhx6ZMynMgTefM", "mode": "list", "cachedResultName": "Consultar Disponibilidad Genten" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": ["fecha"],
          "schema": [{ "id": "fecha", "displayName": "fecha", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false }]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [416, 816],
      "id": "37f91cb4-9424-46da-9419-6235370507da",
      "name": "consultar_disponibilidad_notion"
    },
    {
      "parameters": {
        "description": "Crea una NUEVA reserva en Notion. Úsala SOLO cuando el cliente confirme explícitamente agendar una cita nueva. NUNCA uses esta herramienta para reagendar o mover una cita existente — para eso usa reagendar_cita_confirmada.",
        "workflowId": { "__rl": true, "value": "r2Cq0W0RQeZyDoBW", "mode": "list", "cachedResultName": "Micro Servicio Agendar" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', ``, 'string') }}",
            "telefono": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
            "servicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servicio', ``, 'string') }}",
            "hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', ``, 'string') }}",
            "vehiculo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vehiculo', ``, 'string') }}",
            "fecha_recepcion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_recepcion', `Fecha en formato YYYY-MM-DD`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "nombre", "displayName": "nombre", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "telefono", "displayName": "telefono", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "vehiculo", "displayName": "vehiculo", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "servicio", "displayName": "servicio", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "fecha_recepcion", "displayName": "fecha_recepcion", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "hora", "displayName": "hora", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [480, 960],
      "id": "ca83bbd6-9e62-4741-acbc-89b8fa63cd47",
      "name": "registrar_cita_confirmada"
    },
    {
      "parameters": {
        "description": "Úsala cuando el cliente pregunte por los detalles de su cita: fecha, hora, servicio. Pasa el teléfono sin el símbolo + (ejemplo: 56995376063).",
        "workflowId": { "__rl": true, "value": "sp05sloD3bOve14R", "mode": "list", "cachedResultName": "Consultar Cita Cliente Genten" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": { "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', `Número sin +`, 'string') }}" },
          "matchingColumns": [],
          "schema": [{ "id": "telefono", "displayName": "telefono", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false }]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [608, 896],
      "id": "dc3f006f-c647-48da-b904-c69745b12dd1",
      "name": "consultar_cita_cliente"
    },
    {
      "parameters": {
        "description": "Úsala cuando el cliente pida el mapa o la ubicación del taller por WhatsApp. Pasa el teléfono sin el símbolo +.",
        "workflowId": { "__rl": true, "value": "dYT7cOE8uh3jL0nr", "mode": "list", "cachedResultName": "Enviar Ubicacion Genten" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": { "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', `Número sin +`, 'string') }}" },
          "matchingColumns": [],
          "schema": [{ "id": "telefono", "displayName": "telefono", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false }]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [736, 848],
      "id": "82ef92e3-127e-4301-bffe-5cdf9265b5e2",
      "name": "enviar_ubicacion"
    },
    {
      "parameters": {
        "description": "Úsala cuando el cliente quiera cancelar O reagendar (mover) su reserva. Pasa el teléfono en formato internacional (ej: +56986052530). Devuelve los detalles de la reserva activa (page_id, servicio, fecha, hora, vehiculo) y un mensaje para mostrar al cliente.",
        "workflowId": { "__rl": true, "value": "icYoMxHASDhEcBd3", "mode": "list", "cachedResultName": "Buscar Reserva Cancelable Genten" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": { "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', 'Teléfono del cliente en formato internacional, ej: +56986052530', 'string') }}" },
          "matchingColumns": [],
          "schema": [{ "id": "telefono", "displayName": "telefono", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false }]
        }
      },
      "id": "f4b05592-e598-4da1-9c15-2c714d6597f0",
      "name": "buscar_reserva_cancelable",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [992, 1024]
    },
    {
      "parameters": {
        "description": "Cancela DEFINITIVAMENTE una reserva. Úsala SOLO cuando el cliente quiera cancelar (no volver). NUNCA la uses si el cliente quiere reagendar (mover a otra fecha/hora) — en ese caso usa ÚNICAMENTE reagendar_cita_confirmada.",
        "workflowId": { "__rl": true, "value": "k8RAoEZIDpMlPme8", "mode": "list", "cachedResultName": "Cancelar Reserva Genten" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "page_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('page_id', 'ID de la página Notion de la reserva, obtenido de buscar_reserva_cancelable', 'string') }}",
            "nombre_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_cliente', 'Nombre del cliente', 'string') }}",
            "fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', 'Fecha de la reserva en formato YYYY-MM-DD', 'string') }}",
            "servicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servicio', 'Nombre del servicio reservado', 'string') }}",
            "vehiculo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vehiculo', 'Tipo de vehículo', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "page_id", "displayName": "page_id", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "nombre_cliente", "displayName": "nombre_cliente", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "fecha", "displayName": "fecha", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "servicio", "displayName": "servicio", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "vehiculo", "displayName": "vehiculo", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false }
          ]
        }
      },
      "id": "603bd144-52bd-405d-ad3b-b4de04a789e1",
      "name": "cancelar_reserva_confirmada",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [1088, 848]
    },
    {
      "parameters": {
        "description": "Obtén los servicios disponibles para un tipo de vehículo (Auto, Camioneta, SUV o Moto). Retorna lista con nombres, precios y descripciones.",
        "workflowId": { "__rl": true, "value": "NnY3cPtza3ys29pf", "mode": "list", "cachedResultName": "Consultar Servicios Genten" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": { "vehiculo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vehiculo', 'Tipo de vehículo: Auto, Camioneta, SUV o Moto', 'string') }}" },
          "matchingColumns": ["vehiculo"],
          "schema": [{ "id": "vehiculo", "displayName": "vehiculo", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false }]
        }
      },
      "id": "f32fafaa-2cfb-497f-8b88-618216906e46",
      "name": "consultar_servicios",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [864, 928]
    },
    {
      "parameters": {
        "description": "Mueve una cita existente a nueva fecha/hora. Úsala después del 'sí' del cliente en el flujo de reagendamiento. Esta herramienta maneja todo internamente — NO necesitas llamar cancelar_reserva_confirmada antes. Requiere el page_id de buscar_reserva_cancelable.",
        "workflowId": { "__rl": true, "value": "nX4oSbUCpYJCBqM2", "mode": "list", "cachedResultName": "Reagendar Cita Genten" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "page_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('page_id', 'ID de la página Notion de la reserva, obtenido de buscar_reserva_cancelable', 'string') }}",
            "nueva_fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nueva_fecha', 'Nueva fecha en formato YYYY-MM-DD', 'string') }}",
            "nueva_hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nueva_hora', 'Nueva hora de recepción en formato HH:MM (entre 09:00 y 15:00)', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "page_id", "displayName": "page_id", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "nueva_fecha", "displayName": "nueva_fecha", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "nueva_hora", "displayName": "nueva_hora", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false }
          ]
        }
      },
      "id": "2cd09200-9db5-45a5-98b8-96b671954f00",
      "name": "reagendar_cita_confirmada",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [1232, 800]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1153146501223052",
        "recipientPhoneNumber": "={{ $node[\"WhatsApp Trigger\"].json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [1040, 416],
      "id": "6e75e504-dc43-4457-b898-714372526546",
      "name": "Send message",
      "webhookId": "e2384779-2b8a-4ccc-817e-028a6c90e223"
    }
  ],
  "connections": {
    "WhatsApp Trigger": { "main": [[{ "node": "Tipo de Mensaje", "type": "main", "index": 0 }]] },
    "Tipo de Mensaje": { "main": [[{ "node": "Filter", "type": "main", "index": 0 }], [{ "node": "Obtener URL Audio", "type": "main", "index": 0 }]] },
    "Filter": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "Obtener URL Audio": { "main": [[{ "node": "Descargar Audio", "type": "main", "index": 0 }]] },
    "Descargar Audio": { "main": [[{ "node": "Transcribir Audio", "type": "main", "index": 0 }]] },
    "Transcribir Audio": { "main": [[{ "node": "Audio OK?", "type": "main", "index": 0 }]] },
    "Audio OK?": { "main": [[{ "node": "Normalizar Mensaje", "type": "main", "index": 0 }], [{ "node": "Audio Error", "type": "main", "index": 0 }]] },
    "Normalizar Mensaje": { "main": [[{ "node": "Filter", "type": "main", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Send message", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Postgres Chat Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "consultar_disponibilidad_notion": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "registrar_cita_confirmada": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "consultar_cita_cliente": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "enviar_ubicacion": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "buscar_reserva_cancelable": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "cancelar_reserva_confirmada": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "consultar_servicios": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "reagendar_cita_confirmada": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] }
  }
}
